@charset "UTF-8";
/* Slider */
@import url(css/all.min.css);
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  height: 100vh;
  max-width: 100vw;
  font-family: "Open Sans", sans-serif; }

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0; }

button {
  border: none;
  background: none; }
  button:focus {
    outline: none; }

.l-r-margin {
  margin-left: 10rem;
  margin-right: 10rem; }
  @media only screen and (max-width: 1249px) {
    .l-r-margin {
      margin-left: 5rem;
      margin-right: 5rem; } }
  @media only screen and (max-width: 649px) {
    .l-r-margin {
      margin-left: 2rem;
      margin-right: 2rem; } }

.menu-bar {
  width: 100%;
  height: 75px;
  background: #00447c;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  z-index: 1001;
  position: relative; }
  .menu-bar__content {
    color: white !important;
    height: 100%;
    font-size: 4.5rem; }
    .menu-bar__content a, .menu-bar__content a:visited {
      color: white;
      text-decoration: none; }
      .menu-bar__content a:hover, .menu-bar__content a:visited:hover {
        color: #e6e6e6; }

.menu-link {
  font-size: 2.7rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 819px) {
    .menu-link {
      display: none; } }

.mobile-link {
  grid-column-start: 5;
  justify-self: end;
  font-size: 3.5rem;
  display: none; }
  @media only screen and (max-width: 819px) {
    .mobile-link {
      display: inherit; } }

.home-link {
  justify-self: start;
  font-size: 3.5rem;
  font-family: "Parisienne", cursive;
  white-space: nowrap; }

.mobile-dropdown {
  position: absolute;
  right: 0;
  width: 12.5rem;
  background: #004a86;
  padding: 2rem; }

.hide {
  display: none; }

.show {
  display: inherit; }

.dropdown-link {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase; }

.header-slider {
  position: absolute;
  z-index: 1; }
  .header-slider img {
    width: 100%; }

iframe {
  pointer-events: none; }

.interactive {
  pointer-events: all; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slider-image-hidden {
  animation: fadein 1.5s ease-in; }

.slick-dots {
  bottom: 1.5rem; }

.slick-dots li button:before {
  font-size: 3.5rem;
  color: white; }

.slick-prev, .slick-next {
  z-index: 1002; }
  .slick-prev::before, .slick-next::before {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    font-size: 2.7rem; }

.slick-prev {
  left: -1.5rem; }
  .slick-prev::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f104';
    font-weight: 600;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem; }

.slick-next {
  right: 2.5rem; }
  .slick-next::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f105';
    font-weight: 600;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem; }

.slick-dots li.slick-active button:before {
  color: white; }

.slider-content {
  position: absolute;
  color: #f7f7f7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content; }
  .slider-content h1 {
    font-size: 7.5rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    font-family: "Montserrat", sans-serif;
    transition: transform 2s; }
    @media only screen and (max-width: 819px) {
      .slider-content h1 {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 649px) {
      .slider-content h1 {
        font-size: 3rem; } }

.experiences-section {
  text-align: center; }

.activities-slider {
  overflow: hidden;
  overflow-y: scroll; }

.activity-slide {
  position: relative;
  margin-left: .5rem;
  cursor: pointer;
  width: 37.3rem; }
  .activity-slide:hover .overlay-info {
    transition: ease-in, color 1s;
    display: inline-block !important;
    cursor: pointer; }
  .activity-slide:focus {
    outline: none; }

.overlay-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: none; }
  .overlay-info:hover {
    cursor: pointer; }
  .overlay-info__headline {
    font-size: 2.7rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 35rem; }
    @media only screen and (max-width: 649px) {
      .overlay-info__headline {
        width: 30rem; } }
  .overlay-info__summary {
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 35rem;
    padding-top: 2rem; }
    @media only screen and (max-width: 649px) {
      .overlay-info__summary {
        width: 30rem; } }

.activity-image {
  width: 100%; }

.section-headline {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #00447c;
  margin-bottom: 3rem; }

.section-subheadline {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem; }

.map-section {
  margin-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
  font-weight: 300; }
  .map-section__content {
    background: #fafafa;
    padding-top: 1.5rem; }

.tour-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  background: #fafafa;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.map-actions {
  width: 100%;
  margin-top: 5rem;
  background: white; }

.gallery-section {
  text-align: center; }

.image-gallery {
  margin: 5rem 10rem; }
  @media only screen and (max-width: 1249px) {
    .image-gallery {
      margin-left: 5rem;
      margin-right: 5rem; } }
  @media only screen and (max-width: 649px) {
    .image-gallery {
      margin-left: 2rem;
      margin-right: 2rem; } }
  .image-gallery img {
    max-height: 27rem;
    margin: 3px;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 649px) {
      .image-gallery img {
        max-height: 17rem; } }
  .image-gallery .portrait {
    max-height: 60rem; }

.assets-section {
  background: #fafafa;
  margin: 5rem auto 0;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem; }

.brochure-preview {
  margin: 0 auto;
  width: 40rem; }

.masonry-image {
  border-radius: 1rem;
  break-inside: avoid;
  cursor: pointer; }
  .masonry-image:hover {
    transform: scale(1.05);
    position: relative;
    z-index: 2; }

.footer {
  height: 7.5rem;
  margin-bottom: 0;
  background: #00447c;
  color: white;
  font-size: 1.6rem; }

.footer-links {
  justify-self: end; }
  .footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 2rem; }
    .footer-links a:visited {
      color: white; }

.grid {
  display: grid; }

.grid-row-2 {
  grid-row: span 2; }

.grid-auto-cols {
  grid-template-columns: repeat(auto-fit, minmax(41rem, auto));
  justify-items: center; }
  @media only screen and (max-width: 819px) {
    .grid-auto-cols {
      grid-template-columns: repeat(auto-fit, minmax(36rem, auto)); } }
  @media only screen and (max-width: 649px) {
    .grid-auto-cols {
      grid-template-columns: repeat(auto-fit, minmax(30rem, auto)); } }

.grid-menu-bar {
  grid-template-columns: 2fr repeat(4, 1fr);
  align-items: center;
  justify-items: center; }

.footer-grid {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%; }

.margin-auto {
  margin: 5rem auto; }

.button-primary {
  margin: 2rem auto 2rem;
  display: block;
  max-width: 28rem;
  background: #00447c;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: .5rem;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center; }
  .button-primary:hover {
    background: #005296; }
  .button-primary:focus {
    outline: none; }

.mc-field-group input {
  width: 30rem;
  height: 27px;
  border: 1px solid #004a86;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.6rem;
  color: #777777; }

.mc-field-group input[type="button"], .mc-field-group input[type="submit"] {
  -webkit-appearance: none;
  border-radius: .5rem;
  border: none; }

.video-showcase {
  display: grid;
  margin: 10rem auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center; }

.mr-top-large {
  margin-top: 10rem;
  display: block; }
